.header {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--black);
    z-index: 30;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-shrink: 1;
    align-items: center;
    gap: 1rem;
}

.siteLogoContainer {
    max-width: 200px;
    display: flex;
    padding: 1.6rem 0;
}