.grid:global(.fullWidth), .grid:global(.boxed), .grid {
    display: grid;
    width: 100%;
    gap: 1.25rem;
    margin: 1.25rem 0;
}

.Projecten.grid {
    height: 750px;
    grid-template-areas:
    "item1 item2 item3 item3"
    "item4 item2 item5 item6";
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

@media screen and (max-width: 1220px) {
    .Projecten.grid {
        grid-template-areas:
            "item1 item2"
            "item3 item2";
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr;
    }

    .grid :global(.gridItem4), .grid :global(.gridItem5), .grid :global(.gridItem6) {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .Projecten.grid {
        height: 600px;
        display: flex;
        flex-direction: column;
    }

    .gridItem .overlayContainer {
        background: rgba(0,0,0,.4);
    }
}

