.hero {
    position: relative;
    height: calc(100vh - 83px);
}

.backgroundDesktopContainer {
    position: absolute;
    width: 100%;
    height: 100%;
}

.backgroundDesktop {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right bottom;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.content {
    height: 100%;
}

.contentContainer {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.introduction {
    padding-top: 6.2rem;
    display: flex;
    flex-direction: column;
    width: auto;
    gap: 1rem;
}

.titleContainer {
    background-color: var(--red);
    position: relative;
    padding: .6rem 2.1rem; 
    width: max-content;
    max-width: 100%;
}

.titleContainer h1::selection {
    color: var(--red);
    background: var(--white);
}

.descriptionContainer {
    max-width: 450px;
}

.descriptionContainer p {
    width: 100%;
    font-size: 1.15rem;
    font-weight: 300;
    line-height: 1.6rem;
    letter-spacing: 0;
    margin-top: 0;
}

.backgroundMobileContainer {
    display: none;
}

.heroBottom {
    padding-top: 1.2rem;
}

.scrollDownContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}


@media (max-width: 767px) {
    .hero {
        height: 100%;
        padding: 0 0 1rem 0;
    }

    .backgroundDesktopContainer {
        display: none;
    }

    .introduction {
        padding-top: .5rem;
    }

    .titleContainer {
        white-space: nowrap;
        font-size: 4.6vw;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .titleContainer h1 {
        font-size: clamp(.5rem, 14vw - .3rem, 6.5rem);
    }

    .taglineContainer {
        white-space: nowrap;
        font-size: 4.2vw;
    }

    .taglineContainer h3 {
        font-size: clamp(.5rem, 10vw - .3rem, 6rem);
    }

    .descriptionContainer {
        width: 85vw;
        max-width: none;
    }

    .backgroundMobileContainer {
        display: block;
    }

    .scrollDownContainer {
        display: none;
    }
}

@media screen and (max-height: 755px) {
    .hero {
        height: auto;
    }
}