.card {
    display: flex;
    list-style: none;
    width: 25%;
    height: auto;
    background-color:  var(--white);
    transition: background-color 400ms ease-in-out;
}

.card:hover {
    background-color: var(--red);
}

.card a {
    display: flex;
    width: 100%;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    padding: 3rem 2.5rem;
}

.card :global(.icon) svg {
    color: var(--red);
    height: 4.7rem;
    width: 4.7rem;
    transition: color 400ms ease-in-out;
}

.card:hover :global(.icon) svg {
    color: var(--white);
}

.card :global(.icon) {
    padding-bottom: 1rem;
}

.card h4 {
    color: var(--red);
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    transition: color 400ms ease-in-out;
}

.card:hover h4 {
    color: var(--white);
}

.card p {
    color: var(--black);
    font-size: .9rem;
    font-weight: 400;
    text-align: center;
    margin: 0;
    transition: color 400ms ease-in-out;
}

.card:hover p {
    color: var(--white);
}

@media only screen and (max-width: 1024px){
    .card {
        width: 100%;
    }

    .card :global(.icon) {
        padding-bottom: 0;
    }
}