.clientsPreview {
    margin-top: 2.5em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
    justify-content: space-between;
}

.clientsPreview li {
    height: 100%;
    width: 160px;
}

.clientsPreview li:hover img {
    transform: scale(1.05);
    opacity: .9;
}

.clientsPreview li img {
    opacity: .6;
    transition: all .6s ease-in-out;
}

@media only screen and (max-width: 1024px){
    .clientsPreview li:nth-child(3) {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .clientsPreview {
        gap: 0;
        margin-top: 0;
    }

    .clientsPreview li {
        width: 50%;
        gap: 0;
        padding: 1em 1.5em;
    }
}