@media only screen and (max-width: 1024px){
    :global(.openMenu) .navBar {
        display: inline-block;
        width: 100%;
        position: absolute;
        left: 0;
        top: 100%;
        transition: background-color .5s;
        padding: 25px 0;
        background-color: var(--black);
    }

	/* all items */
	.navBar li {
		white-space: normal;
        position: absolute;
		display: block;
		text-align: center;
        opacity: 0;
        pointer-events: none;
        -webkit-transform: scale(1.1) translateY(-50%);
			-ms-transform: scale(1.1) translateY(-50%);
				transform: scale(1.1) translateY(-50%);
	}
	.navBar li a {
		line-height: 40px;
	}

	:global(.openMenu) .navBar li{
        position: relative;
		opacity: 1;
		pointer-events: auto;
		-webkit-transform: none;
			-ms-transform: none;
				transform: none;
        transition: opacity .5s ease-out, transform .55s ease-out;
	}
	:global(.openMenu) .navBar > li:nth-child(1){transition-delay:.15s;}
	:global(.openMenu) .navBar > li:nth-child(2){transition-delay:.2s}
	:global(.openMenu) .navBar > li:nth-child(3){transition-delay:.25s}
	:global(.openMenu) .navBar > li:nth-child(4){transition-delay:.3s}
	:global(.openMenu) .navBar > li:nth-child(5){transition-delay:.35s}
	:global(.openMenu) .navBar > li:nth-child(6){transition-delay:.4s}
	:global(.openMenu) .navBar > li:nth-child(7){transition-delay:.45s}
	:global(.openMenu) .navBar > li:nth-child(8){transition-delay:.5s}
	:global(.openMenu) .navBar > li:nth-child(9){transition-delay:.55s}
	:global(.openMenu) .navBar > li:nth-child(10){transition-delay:.6s}
	:global(.openMenu) .navBar > li:nth-child(11){transition-delay:.65s}

	.navBar a:after {
        bottom: 0;
    }
}