html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans';
  color-scheme: black;
  color: var(--white);
  background-color: var(--background-color);
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

::selection {
  color: white;
  background: var(--red);
}

a {
  color: var(--white);
  text-decoration: none;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  display: inline-flex;
}

.icon {
  display: inline-flex;
}

.icon svg {
  color: var(--white);
}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #ffffff;
  font-family: Work Sans,sans-serif;
  letter-spacing: normal;
  word-spacing: normal;
  font-weight: 600;
  text-transform: none;
  padding: 0;
  margin: 0;
  word-break: break-word;
}

h1 {
  font-weight: bold;
  font-size: 3.7em;
}

h2 {
  
}

h3 {
  font-weight: 600;
  font-size: 43px;
  letter-spacing: .3px;
}

.screen-reader {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  border: 0;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
  padding: 0;
  word-wrap: normal!important;
}

.boxed {
  max-width: 1220px;
  padding: 0 40px;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.full_width {
  padding: 0 40px;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

@media (max-width: 767px) {
  .boxed, .full_width { 
    padding: 0 20px;
  }
}

@media (prefers-color-scheme: white) {
  html {
    color-scheme: white;
  }
  body {
    color: var(--black);
    background: var(--background-color)
  }
}
