html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans';
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: white) {
  html {
    color-scheme: white;
  }
  body {
    color: white;
    background: var(--background-color)
  }
}
