html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Work Sans';
  color-scheme: black;
  color: var(--white);
  background-color: var(--backgroundColor);
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

::selection {
  color: var(--white);
  background: var(--red);
}

a {
  color: var(--white);
  text-decoration: none;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.icon {
  display: inline-flex;
}

.icon svg {
  color: var(--white);
}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: var(--white);
  font-family: Work Sans,sans-serif;
  letter-spacing: normal;
  word-spacing: normal;
  font-weight: 600;
  text-transform: none;
  padding: 0;
  margin: 0;
  word-break: break-word;
}

h1 {
  font-weight: bold;
  font-size: 3.7rem;
}

h2 {
  font-size: clamp(1rem, 15vw - .3rem, 6rem);
  letter-spacing: .3px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--lightGrey);
}

h3 {
  font-weight: 600;
  font-size: 2.6rem;
  letter-spacing: .3px;
}

h4 {
  font-size: clamp(1.4rem, 4vw, 1.8rem);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.01rem;
}

h5 {
  font-size: clamp(.85rem, 3vw, 1rem);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}

p {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.7rem;
  letter-spacing: 0;
  margin: 0;
}

.tag {
  position: absolute;
  top: 0;
  right: 0;
  background: var(--red);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.buttonWrapper {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

button {
  background: none;
  cursor: pointer;
  border: none;
}

.button {
  cursor: pointer;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: .9em;
  padding: .9rem 1.7rem;
  line-height: 1.6rem;
  border-radius: 0;
  background: var(--red);
  transition: all 400ms ease;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}

.button::selection, .tag::selection {
  color: var(--red);
  background: var(--white);
}

.button:hover {
  background-color: var(--darkRed);
}

.screenReader {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  border: 0;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
  padding: 0;
  word-wrap: normal !important;
}

.boxed {
  max-width: 1220px;
  padding: 0 2.5rem;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.fullWidth {
  padding: 0 2.5rem;
  margin: 0 auto;
  width: 100%;
  position: relative;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.fullWidth, section.boxed, section {
  padding: 2.4rem 0 3rem 0;
  position: relative;
}

@media screen and (max-width: 767px) {
  html, body {
    font-size: 15px;
  }

  .boxed, .fullWidth { 
    padding: 0 1.25rem;
  }

  section.fullWidth, section.boxed, section {
    padding: 1.5rem 0 2rem 0;
  }
}