.scrollDown {
    position: relative;
}

.scrollDown::after {
    content: '';
    width: .4rem;
    height: .4rem;
    background: #fff;
    margin-left: -3px;
    top: .75rem;
    border-radius: 3px;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: scroll;
    position: absolute;
    left: 50%;
    transform: scale(0.8);
}

@keyframes scroll {
    0% {opacity: 1;}
    100% {opacity: 0; transform: translateY(1.5rem);}
}